/*==================================
RESPONSIVE.CSS
Vamshi Auto Stores
===================================*/

/*==============================
Laptop
==============================*/

@media(max-width:1200px){

.hero-left h1{
font-size:48px;
}

.hero-left p{
font-size:20px;
}

section{
padding:80px 0;
}

}

/*==============================
Tablet
==============================*/

@media(max-width:992px){

.nav-links{
display:none;
position:absolute;
top:80px;
left:0;
width:100%;
background:#ffffff;
flex-direction:column;
text-align:center;
padding:30px 0;
box-shadow:0 15px 25px rgba(0,0,0,.15);
}

.nav-links.active{
display:flex;
}

.nav-links li{
margin:15px 0;
}

.menu-btn{
display:block;
}

.hero{
height:auto;
padding-top:120px;
padding-bottom:70px;
}

.hero-content{
flex-direction:column;
text-align:center;
}

.hero-left{
width:100%;
}

.hero-right{
width:80%;
margin-top:50px;
}

.hero-buttons{
justify-content:center;
flex-wrap:wrap;
}

.hero-left h1{
font-size:42px;
}

.hero-left p{
font-size:18px;
}

.about .container{
flex-direction:column;
}

.about-image,
.about-content{
width:100%;
}

.brand-grid{
grid-template-columns:repeat(2,1fr);
}

.product-grid{
grid-template-columns:repeat(2,1fr);
}

.why-grid{
grid-template-columns:repeat(2,1fr);
}

.gallery-grid{
grid-template-columns:repeat(2,1fr);
}

.contact-box{
grid-template-columns:1fr;
}

iframe{
height:350px;
}

}

/*==============================
Mobile
==============================*/

@media(max-width:768px){

.logo h2{
font-size:24px;
}

.hero-left h1{
font-size:34px;
}

.hero-left p{
font-size:17px;
}

.hero-right{
width:100%;
}

.hero-buttons{
flex-direction:column;
align-items:center;
}

.btn,
.btn2{
width:220px;
text-align:center;
}

section{
padding:70px 0;
}

section h2{
font-size:32px;
margin-bottom:40px;
}

.brand-grid{
grid-template-columns:1fr;
gap:20px;
}

.product-grid{
grid-template-columns:1fr;
}

.why-grid{
grid-template-columns:1fr;
}

.gallery-grid{
grid-template-columns:1fr;
}

.brand-card,
.product,
.why-box,
.contact-box div{
border-radius:18px;
}

.about-content p{
font-size:16px;
}

.about-content li{
font-size:15px;
}

footer{
padding:50px 20px;
}

.social a{
font-size:24px;
margin:0 10px;
}

.whatsapp,
.call{
width:55px;
height:55px;
font-size:24px;
right:15px;
}

.call{
bottom:90px;
}

}

/*==============================
Small Mobile
==============================*/

@media(max-width:480px){

.navbar{
height:70px;
}

.hero{
padding-top:100px;
}

.hero-left h1{
font-size:28px;
line-height:1.3;
}

.hero-left p{
font-size:15px;
}

.btn,
.btn2{
width:200px;
padding:13px;
font-size:15px;
}

.logo h2{
font-size:20px;
}

.product img{
height:180px;
}

iframe{
height:280px;
}

footer h2{
font-size:24px;
}

footer p{
font-size:14px;
}

}